<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <!-- CSS only -->

	<style>
		.active {
			background: red;	
		}
	</style>
</head>
<body>
<nav th:fragment="header">
    <nav class="nav">
	   <ul class=" nav nav-pills justify-content-center">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="?active=1" th:if="${active == 1}">Active</a>
			<a class="nav-link" aria-current="page" href="?active=1" th:if="${active != 1}">Active</a>
		</li>
	   </ul>

	   <ul class=" nav nav-pills justify-content-center">
		<li class="nav-item">
			<a class="nav-link active" href="?active=2" th:if="${active == 2}">Link</a>
			<a class="nav-link" href="?active=2" th:if="${active != 2}">Link</a>
		</li>
	   </ul>

	   <ul class=" nav nav-pills justify-content-center">
		<li class="nav-item">
			<a class="nav-link active" href="?active=3" th:if="${active == 3}">Link</a>
			<a class="nav-link" href="?active=3" th:if="${active != 3}">Link</a>
		</li>
	   </ul>

	

	<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </nav>
</nav>
</body>
</html>
